.idea
.scannerwork
*.xlsx
**/*.pyc
**/*.csv
**/*.gz
**/*.log
pylint-report.out
build/
dist/
*.egg-info/
tmp/
.coverage
*.json
*.yaml
*.yml
.venv/
.DS_Store
!sonar/api/api.json

!sonar/config.json
!test/config.json
!test/integration/sif*.json
!.vscode/*.json
!test/files/*
.sonar/
test/lts/
test/lts-de/
test/latest/
test/latest-de/
test/cb/
test/9-ce/
test/9-de/
test/9/
test/cloud/
