.idea
.scannerwork
*.xlsx
**/*.pyc
**/*.csv
**/*.gz
**/*.log
pylint-report.out
build/
dist/
*.egg-info/
tmp/
.coverage
*.json
*.yaml
*.yml
.venv/
.DS_Store
!sonar/api/api.json

!sonar/config.json
!test/config.json
!test/integration/sif*.json
!.vscode/*.json
!test/files/*
.sonar/
test/gen/
!sonar/cli/sonar-config.schema.json
